body{background:#faf144;}
.wrap{width:360px; height: 560px; margin:0 auto;padding-bottom:79px;background:#faf144;}
.header{text-align: center; padding-top: 180px;transition:3s;}       
.header h1{height: 70px; color:#db7700;font-size:48px;font-weight:bold;font-family: 'Roboto', sans-serif;}

.container{display:none;transition:1.5s;padding-top:1000px;}
.box01{float: left;width:100%;height:60px;padding:2% 0;}
.box01 img{margin-right: 10px;}
.user_id{display: flex;flex-flow: row nowrap;justify-content: center;margin-bottom: 2%;}
.user_pw{display: flex;flex-flow: row nowrap;justify-content: center;}
.user_id>input{width:60%;height: 40px;font-size:16px;border:1px solid #fff;border-radius: 20px;opacity: 0.5;}
.user_id>input::placeholder{padding-left: 10px;color:#db7700;font-size: 14px;}
.user_pw>input{width:60%;height: 40px;font-size:16px;border:1px solid #fff;border-radius: 20px;opacity: 0.5;}
.user_pw>input::placeholder{padding-left: 10px;color:#db7700;font-size: 14px;}
.box02{padding-top:30%}
.box02>a>button{margin-left:36px;border:1px solid #db7700;border-radius: 20px;background:#db7700;width:80%;height:40px;padding:0 10%;margin-top:10px;color:#fff;font-size: 16px;font-weight: bold;}
.box03{padding:3% 0 2% 13%;display:inline-block;}
.box03 label{font-size: 12px;color:#db7700;}
.box04{margin-top: 12px;}
.box04>ul{list-style:none;display:flex;flex-flow:row nowrap;padding:0 10% 0 10%;}
.box04>ul>li{border-right:1px solid #db7700;padding:1% 2%;width:40%;text-align: center;}
.box04>ul>li>a{font-size: 12px;color:#db7700;}
.box04>ul>li:last-child{border-right:none;}
.box05{display: flex;flex-flow: row nowrap;justify-content: center;}
.box05>img{margin:4% 4% 0 4%;}





/* 로딩 css  */

#link {color: #E45635;display:block;font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center; text-decoration: none;}
 #link:hover {color: black;}

 #link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}

/** BEGIN CSS **/
 @keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @-moz-keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @-webkit-keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @-o-keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @-moz-keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @-webkit-keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @-o-keyframes rotate-loading {
     0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
     100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
 }

 @keyframes loading-text-opacity {
     0%  {opacity: 0}
     20% {opacity: 0}
     50% {opacity: 1}
     100%{opacity: 0}
 }

 @-moz-keyframes loading-text-opacity {
     0%  {opacity: 0}
     20% {opacity: 0}
     50% {opacity: 1}
     100%{opacity: 0}
 }

 @-webkit-keyframes loading-text-opacity {
     0%  {opacity: 0}
     20% {opacity: 0}
     50% {opacity: 1}
     100%{opacity: 0}
 }

 @-o-keyframes loading-text-opacity {
     0%  {opacity: 0}
     20% {opacity: 0}
     50% {opacity: 1}
     100%{opacity: 0}
 }
 .loading-container,
 .loading {
     height: 50px;
     position: relative;
     width: 50px;
     border-radius: 100%;
 }


 .loading-container { margin: 40px auto }

 .loading {
     border: 2px solid transparent;
     border-color: transparent #e89b46 transparent #e89b46;
     -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
     -moz-transform-origin: 50% 50%;
     -o-animation: rotate-loading 1.5s linear 0s infinite normal;
     -o-transform-origin: 50% 50%;
     -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
     -webkit-transform-origin: 50% 50%;
     animation: rotate-loading 1.5s linear 0s infinite normal;
     transform-origin: 50% 50%;
 }

 .loading-container:hover .loading {
     border-color: transparent #E45635 transparent #E45635;
 }
 .loading-container:hover .loading,
 .loading-container .loading {
     -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -ms-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
 }

 #loading-text {
     -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
     -o-animation: loading-text-opacity 2s linear 0s infinite normal;
     -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
     animation: loading-text-opacity 2s linear 0s infinite normal;
     color: #db7700;
     font-family: "Helvetica Neue, "Helvetica", ""arial";
     font-size: 10px;
     font-weight: bold;
     margin-top: 60px;
     opacity: 0;
     position: absolute;
     text-align: center;
     text-transform: uppercase;
     top: 0;
     width: 50px;
 }